* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  background: url(./assets/image.png);
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
}
